/* ======= Reset ======= */
* {
    margin: 0;
    padding: 0; /*espaçamento interno */
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}


/* Body */
body {
    font-family: 'Poppins', sans-serif;
}

/* ======= Video/Fundo ======= */




/* ======= Header section ======= */
.cabecalho {
    
}



/* ======= Main section ======= */













/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}