/* ======= Reset ======= */
* {
    margin: 0;
    padding: 0; /*espaçamento interno */
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}


/* Body */
body {
    font-family: 'Poppins', sans-serif;
}

/* ======= Video/Fundo ======= */




/* ======= Header section ======= */
.cabecalho {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px; /*largura*/
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}



/* ======= Main section ======= */
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}













/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}